@tailwind base;
@tailwind components;
@tailwind utilities;

.blue{
    color: #0186da;
}
.white{
    background: #fff;
    max-width: 758px;
    box-shadow: 0 1px 4px #ccc;
    border-radius: 10px;
}
.btn{
    background-color: #2c87c5;
}
.flex1{
    display:flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
}
.blue{
    color:#2c87c5;
}
.border{
    border-top:5px solid #2c87c5;
}